#container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
}

#container div {
    display: flex;
    max-width: 200px;
    flex: 1 0 200px;
    border: 1px solid black;
    margin: 5px;
    height: 200px;
    background-color: aqua;
    transition: background-color 0.2s ease;
}
