#container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#container div {
    max-width: 136px;
    flex: 1 0 136px;
    border: 1px solid black;
    margin: 5px;
}